{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}
{% block body %}
    <div class="wrapper">
        <form class="mt-5" method="post">
            <h2 class="text-center">Veuillez remplir votre email</h2>
            <div class="container mt-5 border border-primary" id="form-container">
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required
                       autofocus>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">
                    Envoyez le mail !
                </button>
            </div>
        </form>
    </div>
{% endblock %}