{% extends 'base.html.twig' %}
{% block title %}Changement de mot de passe{% endblock %}

{% block body %}
    <div class="wrapper">
        <h2 class="text-center mt-5">Change ton mot de passe</h2>

        <div class="container mt-5 border border-primary" id="form-container">
            {{ form_start (form) }}

                {{ form_row(form.password) }}

            <button type="submit" class="btn btn-primary">Valider</button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}